{% extends 'base.html.twig' %}

{% block body %}
{#    {{ dump(search) }}#}
    {% if search.items is defined %}
        {% for book in search.items %}
            <div class="max-w-sm bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700">
                {% if book.volumeInfo.imageLinks is defined %}
                    <img class="rounded-t-lg" src="{{ book.volumeInfo.imageLinks.thumbnail }}" alt="" />
                {% endif %}
                {% if book.volumeInfo.authors is defined %}
                    {% for author in book.volumeInfo.authors %}
                        <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">{{ author }}</p>
                    {% endfor %}
                {% endif %}
            </div>
        {% endfor %}
    {% endif %}
{% endblock %}

{% block title %}

{% endblock %}

